/* Reset default styles */
body{
    background-color: grey;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header,main,footer{
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Style a heading */
h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
h3{
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

}

/* Style a paragraph */
p { 
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #000;  */
    padding-bottom: 15px; /* Add some space between the text and the line */
}
a {
    color: #0c619a;
    text-decoration: none;
}

/* Style a container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
img {
    max-width: 50%;
    height: auto;
}
header {
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    margin-bottom: 10px;
}

header nav a {
    margin: 0 15px; 
    text-decoration: none; 
    color: #000;
    font-weight: bold; 
}


header nav a:hover {
    color: #007BFF; 
}

footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

footer nav {
    text-align: center;
    margin-top: 10px;
}

footer nav a {
    margin: 0 10px; 
    text-decoration: none; 
    color: #000;
}

footer nav a:hover {
    color: #007BFF; 
}
body{
    background-color: rgba(128, 128, 128, 0.46);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style-type: '🏡';
    padding-left: 1em;
    color: black;

}
li{
    color: #000;
    margin: 0 2px 0 0;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}