/* Reset default styles */
body{
    background-color: grey;
    color: white;
    font-family: Tahoma, Geneva, Verdana, Arial, sans-serif;
}
header,main,footer{
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Style a heading */
h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
h3{
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

}

/* Style a paragraph */
p { 
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #000;  */
    padding-bottom: 15px; /* Add some space between the text and the line */
}
a {
    color: #0c619a;
    text-decoration: none;
}

/* Style a container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
img {
    max-width: 50%;
    height: auto;
}
header {
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    margin-bottom: 10px;
}

header nav a {
    margin: 0 15px; 
    text-decoration: none; 
    color: #000;
    font-weight: bold; 
}


header nav a:hover {
    color: #007BFF; 
}

footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

footer nav {
    text-align: center;
    margin-top: 10px;
}

footer nav a {
    margin: 0 10px; 
    text-decoration: none; 
    color: #000;
}

footer nav a:hover {
    color: #007BFF; 
}
ul{
    list-style-type: '🏡 ';
    padding-left: 1em;
    color: black;

}
li{
    color: #000;
    margin: 0 2px 0 0;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
main { 
     max-width: 1200px;
     width: 90%;
     margin: 0 auto;

     /* Adjust as needed */ 
}
/* MOBILE RULES */
/* Remove Initial */
html, body {
    all:initial;
    background-color: grey;
}
/* Foundational Three */
main, .maincontainer {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color: grey;

    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color: grey;

    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color: grey;

    }
}
