<nav>
    <img src="../ClientProject/images/logo.webp" alt="Company Logo"></a>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#buying-selling">Buying/Selling</a>
            <ul>
            <li><a href="buying.html">Buying</a></li>
            <li><a href="selling.html">Selling</a></li>
            </ul>
        </li>
        <li><a href="range.html">Range</a></li>
        <li><a href="faq.html">FAQ's</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="accessories.html">Accessories</a></li>
    </ul>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@380&display=swap" rel="stylesheet">
</nav>