<nav>
<a href="https://webpages.charlotte.edu/mawan/" target="CLT">CLT site</a> |
<a href="https://github.com/moeezawann" target="MG"> My GitHub</a> |
<a href="https://github.com/moeezawann/moeezawann.github.io" target="GI">GitHub io</a> |
<a href="https://www.codecademy.com/profiles/blog7969200853" target="CC"> Codecademy</a> |
<a href="https://www.freecodecamp.org/moeezawann" target="FCC"> FreeCodeCamp</a> |
<a href="www.linkedin.com/in/moeez-awan-712011240" target="LI"> LinkedIn</a> 
<p>Page Built by<a href="../AwanDevelopers.com/index.html">AwanDevelopers &copy; 2024</a>certifed<a href="https://www.freecodecamp.org/certification/moeezawann/responsive-web-design">in RWD,</a>and<a href="https://www.freecodecamp.org/certification/moeezawann/javascript-algorithms-and-data-structures-v8">Introductory JS</a></p>
</nav>
