<h1>Moeez Awan || Mystic Ant || ITIS 3135 Webpage</h1>
<nav class="center-nav">
   <a href="index.html">Home</a> |
    <a href="introduction.html">Introduction</a> |
    <a href="contract.html">Contract</a> |
    <a href="about.html">About</a> |
    <a href="project_overview.html">Project Overview</a> |
    <a href="hobby/index.html">Hobby</a> |
    <a href="website_evals.html">Website Evaluations</a> |
    <a href="../itis3135/stuff/PoOp%20%20%F0%9F%9A%80Y.htm">CRAPPY</a> |
    <a href="tables.html">Tables</a> | 
    <a href="form.html">Form</a> | 
    <a href="firstscripts.html">First Scripts</a> |
    <a href="byo_intro.html">BYO Intro</a> |
    <a href="drawing.html">Drawing</a> 

    <script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>
</nav>